@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --color-primary: #df7db0;
  --color-secondary: #fdfbf6;
  --color-tertiary: #a034a3;
  --bs-nav-link-font-size: 18px;
  --bs-nav-link-color: black;
}

/* RESET */

body {
  font-family: "Poppins", sans-serif;
  line-height: 26px;
}

h1,
h2 {
  font-family: "Merriweather", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.bg-1 {
  background-image: url(./assets/background.svg);
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

@media (min-width: 992px) {
  .bg-1 {
    background-position: bottom right -200px;
  }
}

@media (min-width: 1280px) {
  .bg-1 {
    background-position: bottom right -100px;
  }
}

.wave-double {
  background-image: url(./assets/wave-double.svg);
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.quote-card {
  background-color: #f7f2f2;
  border-radius: 10px;
  padding: 20px 10px;
  margin-top: 50px;
}

.quote-card blockquote {
  margin: 0;
}

.logo {
  width: 100%;
  max-width: 50px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.bg-3 {
  background-color: #df7db0;
}

.navbar-component {
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 1030;
}

.navbar-component .navbar-toggler:focus {
  box-shadow: none;
}

@media (min-width: 992px) {
  .navbar-component {
    background-color: transparent;
  }
}

@media (min-width: 768px) {
  header {
    height: 100px;
  }
}

.content {
  padding-top: 100px;
}

.title {
  font-size: 56px;
  font-weight: 700;
}

.heading {
  position: relative;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 5px;
  margin-bottom: 58px;
  text-align: center;
}

.heading:after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 150px;
  transform: translateX(-50%);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.heading-primary:after {
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
}

.heading-secondary:after {
  border: 2px solid white;
  background-color: white;
}

.rounded-circle {
  max-width: 500px;
  border: 4px solid black;
}

/* BUTTONS */

.button {
  text-align: center;
  display: inline-block;
  font-family: "Poppins";
  font-weight: 500;
  padding: 15px 20px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: 0.3s;
  cursor: pointer;
}

.button-primary {
  color: black;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  border-radius: 8px;
}

.button-primary:hover {
  background-color: transparent;
}

.button-secondary {
  color: white !important;
  background-color: var(--color-tertiary);
  border: 1px solid var(--color-primary);
  border-radius: 8px;
}

.button-secondary:hover {
  color: white !important;
  background-color: var(--color-primary);
  border: 1px solid white;
}

/* FOOTER */
.footer {
  background-color: #552473;
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
  z-index: 50;
}

.footer-copywright {
  text-align: center !important;
}

@media (max-width: 992px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.footer-mail-link {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.highlighted {
  font-weight: 600;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
}

.icon-wrapper img {
  max-width: 280px;
}

.checked {
  color: #fecf02;
}

/* BOOKS */

.book-favorite {
  display: flex;
  gap: 40px;
}

.book-favorite img {
  max-width: 400px;
  flex: 2;
}

@media (max-width: 992px) {
  .book-favorite {
    flex-direction: column;
    align-items: center;
  }
}

.book-suggestion img {
  max-width: 300px;
  object-fit: contain;
}

.book-suggestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.book-suggestion h4 {
  font-weight: 300;
  font-size: 18px;
}

@media (min-width: 992px) {
  .book-suggestion {
    align-items: baseline;
  }
  .book-suggestion img {
    max-height: 400px;
  }
}

@media (max-width: 992px) {
  .book-suggestion h3 {
    text-align: center;
  }
}

.card-buy {
  background-color: #fff7e8;
  max-width: 800px;
  height: 600px;
  border-radius: 79% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  margin: 0 auto;
}

.card-text {
  min-height: 78px;
}

@media (max-width: 992px) {
  .card {
    margin-bottom: 50px;
  }

  .card .button {
    width: 100%;
  }
}

.pt-sm-150 {
  padding-top: 150px;
}

.blog-link {
  display: flex;
  justify-content: space-between;
  color: black;
  border-radius: 10px;
  background-color: #e6d2f7;
  padding: 20px;
}

.blog-link:hover {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 0.25rem 0.25rem 0rem #ff90e7;
}

.blog-link p {
  margin: 0;
}
