@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
body {
  font-family: "Lato", sans-serif;
}

h1,
h2 {
  font-family: "Georgia", sans-serif;
}

.logo {
  width: 100%;
  max-width: 68px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* .bg-1 {
  background-color: #f5f4ec;
}

.bg-2 {
  background-color: #e5e3d8;
} */

.bg-3 {
  background-color: #ff81ae;
}

.card-buy {
  background-color: #fff7e8;
  width: 800px;
  height: 600px;
  border-radius: 79% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  margin: 0 auto;
}
.gradient {
  background: linear-gradient(180deg, #fff7e8 0, #fdedee);
}

.navbar-component {
  position: absolute;
  width: 100%;
  background-color: white;
}

.navbar-component .navbar-toggler:focus {
  box-shadow: none;
}

@media (min-width: 992px) {
  .navbar-component {
    background-color: transparent;
  }
  header {
    height: 100px;
  }
}

.content {
  padding-top: 100px;
}
